
/*

!/docs/
!/javascript/
!/pug/
!/source/
!/webpack/

!/.editorconfig
!/.eslintignore
!/.eslintrc.yaml
!/.firebaserc
!/.gitignore
!/.stylelintignore
!/.stylelintrc.yaml

!/babel.config.js
!/firebase.json
!/jest.config.js
!/license.md
!/package-scripts.js
!/package.json
!/postcss.config.js
!/webpack.config.js
