
/*

!/assets/
!/docs/
!/javascript/
!/pug/
!/source/
!/styles/
!/webpack/

!/.editorconfig
!/.eslintignore
!/.eslintrc.js
!/.firebaserc
!/.gitignore
!/.stylelintignore
!/.stylelintrc.yaml

!/alias.js
!/babel.config.js
!/firebase.json
!/jest.config.js
!/license.md
!/package-scripts.js
!/package.json
!/postcss.config.js
!/tsconfig.json
!/tsconfig.json5
!/webpack.config.js
