
/*

!/docs/
!/node/
!/notes/
!/source/
!/webpack/

!/.editorconfig
!/.eslintignore
!/.eslintrc.yaml
!/.firebaserc
!/.gitignore
!/.stylelintignore
!/.stylelintrc.yaml

!/babel.config.js
!/firebase.json
!/package-scripts.js
!/package.json
!/postcss.config.js
!/webpack.config.js
