
@import '~/mixins/action'

.kanban-board
	display: inline-block
	min-width: 100%

.kanban-board--head
	background: #333

.kanban-board--body
	display: flex
	padding: 8px

.kanban-board--action--reset
	border-radius: 8px
	margin: 0 16px
	padding: 8px 12px
	user-select: none

.kanban-board--action--reset--text
	@mixin click #fff
	cursor: pointer
