html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=0.5')
		link(rel='icon' href='../../assets/index.png')
		link(rel='stylesheet' href='../../styles/sources/index.sss')
		script(defer src='/index.js')
		title kanban
