
@define-mixin active $color
	border: 0 0 1px / solid / rgba($color, 0.2)
	color: $color
	cursor: pointer
	user-select: none

span.active--add
	@mixin active #4b7cf3

span.active--remove
	@mixin active #ef5050

span.active--locate
	@mixin active #000

span.active--move
	@mixin active #bdb9b9

span.active--move--active
	@mixin active #000

span.active--reset
	@mixin active #000

span.active--sort
	@mixin active #2dcd72
