
div.column
	background: #f2f2f2
	border-radius: 8px
	margin: 8px
	min-width: 256px
	overflow: hidden

div.column--head
	background: white
	display: flex
	flex-direction: column
	padding: 8px 12px

div.column--title
	text-align: center

div.column--add
	float: left

div.column--sort
	float: right

input.column--name-input
	border: none
	outline: none
	text-align: center
