
@import '~/mixins/action'

div.kanban-board
	padding: 8px

div.kanban-board--wrapper
	display: flex
	width: 100%

div.kanban-board--action--reset
	padding: 8px
	user-select: none

span.kanban-board--action--reset--text
	@mixin click #000
	cursor: pointer
