
div.task
	background: white
	border: 1px 0 0 / solid / #eee
	display: flex
	flex-direction: column
	padding: 8px 12px
	margin: 8px

div.task--remove
	float: left

div.task--move
	float: right
	position: relative

ul.task--list
	background: white
	border: 1px solid #f2f2f2
	box-sizing: border-box
	list-style-type: none
	padding: 8px 12px
	position: absolute 8px * * -12px

input.task--name-input
	border: none
	outline: none
	font-weight: bold

input.task--text-input
	border: none
	outline: none
